#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.controls {
  display: flex;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 10px;
}

.controls-right {
  margin-left: auto;
}

.state {
  margin: 10px 0;
  font-family: monospace;
}

.state-title {
  color: #999;
  text-transform: uppercase;
}

/* App.css */

/* Ensure the HTML and body take up the full height */
html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Flex container for the entire app */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Editor container to take up all available space */
.editor-container {
  flex: 1;
  position: relative; /* For positioning the loader */
}

/* Controls section styling */
.controls {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* State displays styling */
.state {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.ql-editor{
  min-height: 1200px;
}

.ql-container.ql-snow {
  border: hidden
}

.ql-toolbar.ql-snow {
  border: hidden
}

.ql-editor {
  counter-reset: line;
  padding-left: 0;
}
